<!doctype html>

<html>

<head>
	<title>Gamer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	
    <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/custom-theme.css">   
    <link rel="stylesheet" href="css/popupbox.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body style="font-family: Open sans">
    
    <div id="overlay" onclick="closeDialog()">
    </div>
    <div id="addDialog" class="mx-auto">
        <button onclick="closeDialog()" style="float: right; border:0px; background-color: #202020;" class="text-light"><h5>x</h5></button>
        <br>
        <img src='https://i.imgur.com/eClV1JZ.png' alt='{{name}}' class='img-fluid popup'>
        <h4 class="text-light" id="addDialogName"></h3>
        <hr style="border-top: 1px solid gray">
        <h5 class="text-light">TOP GENRES:</h4>
        <ul class="text-light text-left" id="listGens">
        </ul>
        <p style="color:#999999"><i>*Mutual Genres</i></p>
    </div>
     
    
    <!--
    <div class="navbar-collapse collapse" id="headerText">
		<span class="navbar-brand">
		</span>
	</div>
    -->

	
    <nav class="navbar navbar-static-top" style="background-color:#16141A">
        <a href="./friends" style="font-size: 35px; color:white;" onclick="saveNewFriends(event)">&#x293A;</a>
    </nav>
    
    <script>
        function openDialog(e) {
            
            document.getElementById("overlay").style.visibility = "visible";
            document.getElementById("addDialog").style.visibility = "visible";
            $('body').css('overflow', 'hidden');

            var details = e.srcElement.id.split("+");
            var addDName = details[0];
            console.log(addDName);
            $('#addDialogName').html(addDName);
            
            var addDGens = details[1].split(",");
            for(var p = 0; p < addDGens.length; p++){
                var matchGen = false;
                for(var t = 0; t < usrGens.length; t++){
                    if(usrGens[t].localeCompare(addDGens[p]) == 0){
                        matchGen = true;
                    }
                }
                if(matchGen){
                    $('#listGens').append("<li>"+addDGens[p]+"<span style='color: #999999;'>*</span></li>");
                } else {
                    $('#listGens').append("<li>"+addDGens[p]+"</li>");
                }
            }

            /*
            {{#each suggestions}}
                var currName = "{{name}}";
                if(currName.localeCompare("addDName") == 0){
                    var gens1 = "{{genres}}";
                    var gensArr1 = gens1.split(",");
                    console.log(gensArr1):
                    for(var p = 0; p < gensArr1.length; p++){
                        $('#listGens').append("<li>gensArr1[p]</li>");
                    }
                }else{

                }
            {{/each}}
            */
        }

        function closeDialog() {
            document.getElementById("overlay").style.visibility = "hidden";
            document.getElementById("addDialog").style.visibility = "hidden";
            $('body').css('overflow', 'auto');
            $('#listGens').empty();
        }
    
    </script>

    <div class="container">
    
       
        <h3 class="text-center text-light top-buffer">Add New Friends</h3>
        
        <!--
        {{#each suggestions}}

        <div class="row top-buffer">         
            <div class="col-4">
                <img src="{{imageURL}}" alt="{{name}}" class="img-fluid">
            </div>
            <div class="col-8">
                <h3 class="text-light">{{name}}<button class="add" onclick="">+
                Add</button></h3> 
                <p class="text-light">{{genres}}</p> 
            </div>
        </div>
        <hr>

        {{/each}}
        -->
    <script>
        var matches = 0;
        {{#each suggestions}}
            var gens = "{{genres}}";
            var gensArr = gens.split(",");
            var usrGens = JSON.parse(localStorage.getItem('usrGenres'));
            var mutual = [];
            var len = gensArr.length;
            var suggest = false;
            var mutualIndex = 0;
            for(var i = 0; i < len; i++){
                for(var x = 0; x < usrGens.length; x++){
                    if(gensArr[i].localeCompare(usrGens[x]) == 0){
                        suggest = true;
                        mutual[mutualIndex] = " " + gensArr[i];
                        mutualIndex++;
                    }
                }
            }
            
            var friendsArr = JSON.parse(localStorage.getItem('usrFriends'));
            var fName = "{{name}}"

            /*
            for(var i = 0; i < len; i++){
                for(var x = 0; x < usrGens.length; x++){
                    if(gensArr[i].localeCompare(usrGens[x]) == 0){
                        suggest = true;
                    }
                }
            }
            */
                        
            for(var z = 0; z < friendsArr.length; z++){
                 if(fName.localeCompare(friendsArr[z]) == 0){
                     suggest = false;
                  }
            }

            if(suggest){
                document.write("<div class='row top-buffer'>");
                document.write("<div class='col-4'>");
                document.write("<img src='{{imageURL}}' id='{{name}}+{{genres}}+2'");
                //onclick='openDialog(event)'");
                document.write("alt='{{name}}'");
                document.write("class='img-fluid'>");
                document.write("</div>");
                document.write("<div class='col-8'>");
                document.write("<h3 class='text-light'>");
                document.write("<span onclick='openDialog(event)' id='{{name}}+{{genres}}+1'>{{name}}</span>");
                //document.write("<span onclick='openDialog(event)' id='{{name}}+{{genres}}+1'>{{name}}</span>");
                //document.write("<span id='{{name}}+{{genres}}+1'>{{name}}</span>");
                document.write("<img src='https://i.imgur.com/taTJR2X.png' id='{{name}}' class='addButton' onclick='addF(event)'>");
                document.write("</h3>"); 
                /*
                document.write("<button class='add'");
                document.write("id='{{name}}'");
                document.write("onclick='addF(event)' background-color='#221F27'>");
                document.write("+ Add</button></h3>"); 
                */
                document.write("<p class='text-light'>Mutual genres: <span style='color: #FF007A;'>");
                document.write(mutual + "</span></p>"); 
                document.write("</div>");
                document.write("</div>");
                document.write("<hr>");
 
                 
                /*
                document.write("<div class='row top-buffer'>");
                document.write("<div class='col-4'>");
                document.write("<img src='{{imageURL}}'");
                document.write("alt='{{name}}'");
                document.write("class='img-fluid'>");
                document.write("</div>");
                document.write("<div class='col-8'>");
                document.write("<h3 class='text-light'>");
                document.write("{{name}}");
                document.write("<img src='https://i.imgur.com/taTJR2X.png' id='{{name}}' class='addButton' onclick='addF(event)'>");
                document.write("</h3>"); */
                /*
                document.write("<button class='add'");
                document.write("id='{{name}}'");
                document.write("onclick='addF(event)' background-color='#221F27'>");
                document.write("+ Add</button></h3>"); 
                */
                /*
                document.write("<p class='text-light'>");
                document.write("{{genres}}</p>"); 
                document.write("</div>");
                document.write("</div>");
                document.write("<hr>");
                matches++;
                */
                matches++;
            }

        {{/each}}
            //console.log("test");
        if(matches == 0){
            document.write("<div class='text-center top-buffer'>");
            document.write("<h5 class='text-light'>You've added everyone with similar interests! :)</h5>");
            document.write("</div>");
        }
    </script>
    </div>
    
    <nav class="navbar fixed-bottom" style="background-color:#16141A">
        <div class="mr-auto" align="center">
                <a href="./friends" onclick="saveNewFriends(event)">
                <img src="https://i.imgur.com/RMzI7Lb.png" class="navItem">
                <p class="text-light">FRIENDS</p>
                </a>
        </div>
        <div class="mx-auto" align="center">
                <a href="./chats" onclick="saveNewFriends(event)">
                <img src="https://i.imgur.com/SowfKJR.png" class="navItem">
                <p class="text-light">CHAT</p>
                </a>
        </div>
        <div class="ml-auto" align="center">
                <a href="./profile" onclick="saveNewFriends(event)">
                <img src="https://i.imgur.com/eClV1JZ.png" class="navItem">
                <p class="text-light">PROFILE</p>
                </a>
        </div>
    </nav>
    
    <script>
        //var friends = ["0"];
        var newFriends = JSON.parse(localStorage.getItem('usrFriends'));
        var fSize = newFriends.length;
        if(newFriends.includes("0")){
            fSize--;
        }
        function addF(e) {
            if(newFriends.includes(e.srcElement.id)){
                var ind = newFriends.indexOf(e.srcElement.id);
                newFriends[ind] = "0";
                
                //document.getElementById(e.srcElement.id).innerText = '+ Add';
                document.getElementById(e.srcElement.id).src = 'https://i.imgur.com/taTJR2X.png';
                fSize--;
            }
            else {
                if(newFriends.includes("0")){
                    var ind = newFriends.indexOf("0");
                    newFriends[ind] = e.srcElement.id;
                }
                else{
                    newFriends.push(e.srcElement.id);
                }
                document.getElementById(e.srcElement.id).src = 'https://i.imgur.com/Zvhz7gq.png';
                fSize++;
            }

        }
    </script>
    
    <script>
        function saveNewFriends(e) {
            localStorage.setItem('usrFriends', JSON.stringify(newFriends));
        }
    </script>

    <script>
        var gens = localStorage.getItem('usrGenres');
        console.log(gens);
    </script>
    
    <script src="js/jquery-1.11.0.js"></script>	
    <!--<script src="js/bootstrap.min.js"></script>-->
	<script src="js/bootstrap.js"></script>



</body>

</html>
