<!doctype html>

<html>

<head>
	<title>Gamer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	
    <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/custom-theme.css">   
</head>

<body>
     
    
    <!--
    <div class="navbar-collapse collapse" id="headerText">
		<span class="navbar-brand">
		</span>
	</div>
    -->

	
    <nav class="navbar sticky-top" style="background-color:#16141A">
        <h3 class="mx-auto" style="color:#FF007A">CHAT</h3>
    </nav>
     
    <div class="container">
        
        <script>
        
            {{#each suggestions}}
            var name = "{{name}}";
            var fArray = JSON.parse(localStorage.getItem('usrFriends')); 
            var display = false;
            for(var i = 0; i < fArray.length; i++){
                if(fArray[i].localeCompare(name) == 0){
                    display = true;
                }
            }
            if(display){
                document.write("<a href='./chatrooms' id='{{name}}' onclick='saveChatName(this.id)'>");
                document.write("<div class='row top-buffer'>");
                document.write("<div class='col-4'>");
                document.write("<img src='{{imageURL}}' class='img-fluid'>");
                document.write("<img src='{{onlineStatus}}' class='statusBubble'>");
                document.write("</div>");
                document.write("<div class='col-8'>");
                document.write("<h3 class='text-light'>{{name}}</h3>");
                document.write("<p style='color:#626262'>{{chat}}</p>");
                document.write("</div>");
                document.write("</div>");
                document.write("</a>");
                document.write("<hr>");
            }
            /*
        <a href="./chatrooms">
        <div class="row top-buffer">         
            <div class="col-4">
                <img src="{{imageURL}}" alt="{{name}}" class="img-fluid">
                <img
                src="{{onlineStatus}}"
                class="statusBubble">
            </div>
            <div class="col-8">
                <h3 class="text-light">{{name}}</h3> 
                <p style="color:#626262">{{chat}}</p> 
            </div>
        </div>
        </a>
        <hr>
        */
        {{/each}}
        </script>
    </div>
    
    <nav class="navbar fixed-bottom" style="background-color:#16141A">
        <div class="mr-auto" align="center">
                <a href="./friends">
                <img src="https://i.imgur.com/hgZbx0c.png" class="navItem">
                <p class="text-light">FRIENDS</p>
                </a>
        </div>
        <div class="mx-auto" align="center">
                <a href="./chats">
                <img src="https://i.imgur.com/wnir7Fg.png" class="navItem">
                <p class="text-light">CHAT</p>
                </a>
        </div>
        <div class="ml-auto" align="center">
                <a href="./profile">
                <img src="https://i.imgur.com/xwPv2OH.png" class="navItem">
                <p class="text-light">PROFILE</p>
                </a>
        </div>
    </nav>
    
    <script>
        function saveChatName(inputId) {
            var cName = inputId;
            console.log(cName);
            localStorage.setItem('chatName', JSON.stringify(cName));
        }
    </script>
    
    <script src="js/jquery-1.11.0.js"></script>	
    <!--<script src="js/bootstrap.min.js"></script>-->
	<script src="js/bootstrap.js"></script>
    

</body>

</html>
