<!doctype html>

<html>

<head>
	<title>Gamer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	
    <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/custom-theme.css">  
    <link rel="stylesheet" href="css/popupbox.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>
</head>

<body style="font-family: Open sans">
    <div id="overlay" onclick="closeDialog()">
    </div>
    <div id="addDialog" class="mx-auto">
        <button onclick="closeDialog()" style="float: right; border:0px; background-color: #202020;" class="text-light"><h5>x</h5></button>
        <br>
        <img src='https://i.imgur.com/eClV1JZ.png' alt='{{name}}' class='img-fluid popup'>
        <h4 class="text-light" id="addDialogName"></h3>
        <a href="./chatrooms" id="" onclick='saveName(this.id)'>
            <h5><img src="https://i.imgur.com/DGuauBF.png" style="max-height:
            18px"> <u>Create a New Chat</u></h5>
        </a>
        <hr style="border-top: 1px solid gray">
        <h5 class="text-light">TOP GENRES:</h4>
        <ul class="text-light text-left" id="listGens">
        </ul>
        <p style="color:#999999"><i>*Mutual Genres</i></p>
    </div>
    
    <script>
        function openDialog(e) {
            var usrGens = JSON.parse(localStorage.getItem('usrGenres'));
            document.getElementById("overlay").style.visibility = "visible";
            document.getElementById("addDialog").style.visibility = "visible";
            $('body').css('overflow', 'hidden');

            var details = e.srcElement.id.split("+");
            var addDName = details[0];
            console.log(addDName);
            $('#addDialogName').html(addDName);
            $('#addDialog a').attr('id', details[0]);
            
            var addDGens = details[1].split(",");
            for(var p = 0; p < addDGens.length; p++){
                var matchGen = false;
                for(var t = 0; t < usrGens.length; t++){
                    if(usrGens[t].localeCompare(addDGens[p]) == 0){
                        matchGen = true;
                    }
                }
                if(matchGen){
                    $('#listGens').append("<li>"+addDGens[p]+"<span style='color: #999999;'>*</span></li>");
                } else {
                    $('#listGens').append("<li>"+addDGens[p]+"</li>");
                }
            }

        }

        function closeDialog() {
            document.getElementById("overlay").style.visibility = "hidden";
            document.getElementById("addDialog").style.visibility = "hidden";
            $('body').css('overflow', 'auto');
            $('#listGens').empty();
        }
    </script>

    <!--
    <div class="navbar-collapse collapse" id="headerText">
		<span class="navbar-brand">
		</span>
	</div>
    -->

	
    <nav class="navbar sticky-top" style="background-color:#16141A">
        <h3 id="headTitle" class="mx-auto" style="color:#FF007A">FRIENDS</h3>
    </nav>
     
    <div class="container">

    <div class="text-center top-buffer">
        <a href="./add">
        <div class="col">
        <img src="https://i.imgur.com/gLoH5kr.png" class="navItem">
        </div>
        <div class="col">
        <h3 style="text-decoration:underline">Find New Friends</h3>
        </div>
        </a>
    </div>

    <script>
        var matches;
        {{#each suggestions}}
            var name = "{{name}}";
            var fArray = JSON.parse(localStorage.getItem('usrFriends')); 
            
            var gens = "{{genres}}";
            var gensArr = gens.split(",");
            var usrGens = JSON.parse(localStorage.getItem('usrGenres'));
            var mutual = [];
            var len = gensArr.length;
            var mutualIndex = 0;
            
            for(var i = 0; i < len; i++){
                for(var x = 0; x < usrGens.length; x++){
                    if(gensArr[i].localeCompare(usrGens[x]) == 0){
                        mutual[mutualIndex] = " " + gensArr[i];
                        mutualIndex++;
                    }
                }
            }

            var display = false;

            for(var i = 0; i < fArray.length; i++){
                if(fArray[i].localeCompare(name) == 0){
                    display = true;
                }
            }

            if(display){
                document.write("<div class='row top-buffer'>");
                document.write("<div class='col-4'>");
                document.write("<img src='{{imageURL}}'");
                document.write("alt='{{name}}'");
                document.write("class='img-fluid'>");
                document.write("</div>");
                document.write("<div class='col-8'>");
                document.write("<h3 class='text-light'>");
                document.write("<span onclick='openDialog(event)' id='{{name}}+{{genres}}+1'>{{name}}</span>");
                document.write("<a href='./chatrooms' id='{{name}}' onclick='saveName(this.id)'>");
                document.write("<img src='https://i.imgur.com/DGuauBF.png'");
                document.write("class='float-right chatIcon'>");
                document.write("</a></h3>");
                document.write("<p class='text-light'>Mutual genres: <span style='color: #FF007A;'>");
                document.write(mutual + "</span></p>"); 
                document.write("</div>");
                document.write("</div>");
                document.write("<hr>");

            }

        {{/each}}
            //console.log("test");
    </script>
        

    </div>
    
    <nav class="navbar fixed-bottom" style="background-color:#16141A">
        <div class="mr-auto" align="center">
                <a href="./friends">
                <img src="https://i.imgur.com/RMzI7Lb.png" class="navItem">
                <p class="text-light">FRIENDS</p>
                </a>
        </div>
        <div class="mx-auto" align="center">
                <a href="./chats">
                <img src="https://i.imgur.com/SowfKJR.png" class="navItem">
                <p class="text-light">CHAT</p>
                </a>
        </div>
        <div class="ml-auto" align="center">
                <a href="./profile">
                <img src="https://i.imgur.com/xwPv2OH.png" class="navItem">
                <p class="text-light">PROFILE</p>
                </a>
        </div>
    </nav>
   
    <script>
        function saveName(inputId) {
            var cName = inputId;
            console.log(cName);
            localStorage.setItem('chatName', JSON.stringify(cName));
        }
    </script>
    
    
    <script src="js/jquery-1.11.0.js"></script>	
    <!--<script src="js/bootstrap.min.js"></script>-->
	<script src="js/bootstrap.js"></script>
    

</body>

</html>
