<!doctype html>

<html>

<head>
	<title>Gamer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	
    <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/custom-theme.css">   
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body style="font-family: Open sans">
    
    <!--
    <div class="navbar-collapse collapse" id="headerText">
		<span class="navbar-brand">
		</span>
	</div>
    -->

	
    <nav class="navbar sticky-top" style="background-color:#16141A">
        <a href="javascript:history.back()" style="font-size: 35px; color:white;">&#x293A;</a>
    </nav>
     
    <div class="container">
        
    <h3 class="text-center text-light top-buffer">Choose a Friend</h3>

    <script>
        var matches;
        {{#each suggestions}}
            var name = "{{name}}";
            var fArray = JSON.parse(localStorage.getItem('usrFriends')); 

            var display = false;

            for(var i = 0; i < fArray.length; i++){
                if(fArray[i].localeCompare(name) == 0){
                    display = true;
                }
            }

            if(display){
                document.write("<div class='row top-buffer'>");
                document.write("<div class='col-4'>");
                document.write("<img src='{{imageURL}}'");
                document.write("alt='{{name}}'");
                document.write("class='img-fluid'>");
                document.write("</div>");
                document.write("<div class='col-8'>");
                document.write("<h3 class='text-light'>");
                document.write("{{name}}");
                document.write("<a href='./chatrooms' id='{{name}}' onclick='saveName(this.id)'>");
                document.write("<img src='https://i.imgur.com/DGuauBF.png'");
                document.write("class='float-right chatIcon'>");
                document.write("</a></h3>");
                document.write("<p class='text-light'>");
                document.write("{{genres}}</p>"); 
                document.write("</div>");
                document.write("</div>");
                document.write("<hr>");
            }

        {{/each}}
            //console.log("test");
    </script>
        

    </div>
    
    <nav class="navbar fixed-bottom" style="background-color:#16141A">
        <div class="mr-auto" align="center">
                <a href="./friends">
                <img src="https://i.imgur.com/hgZbx0c.png" class="navItem">
                <p class="text-light">FRIENDS</p>
                </a>
        </div>
        <div class="mx-auto" align="center">
                <a href="./chats">
                <img src="https://i.imgur.com/wnir7Fg.png" class="navItem">
                <p class="text-light">CHAT</p>
                </a>
        </div>
        <div class="ml-auto" align="center">
                <a href="./profile">
                <img src="https://i.imgur.com/xwPv2OH.png" class="navItem">
                <p class="text-light">PROFILE</p>
                </a>
        </div>
    </nav>
   
    <script>
        function saveName(inputId) {
            var cName = inputId;
            console.log(cName);
            localStorage.setItem('chatName', JSON.stringify(cName));
        }
    </script>
    
    
    <script src="js/jquery-1.11.0.js"></script>	
    <!--<script src="js/bootstrap.min.js"></script>-->
	<script src="js/bootstrap.js"></script>
    

</body>

</html>
